@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Mulish&display=swap');
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-orange { color:rgba(235, 87, 87, 0.9); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;*/
    
}

.container {
    display: flex;
    flex-direction: column;
    margin : 20px 15px 0px 15px;
    
    background: chartreuse;

}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
}

.logo {
    display: flex;
    

}

.search {
    display: flex;
    justify-content: center;
    
    
    margin-top: 30px;
}



.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 300px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    
}

.icon {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.city {
    width: 45%;
    display: flex;
    justify-content: center;
}

.city > span {
    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
;
/* identical to box height */


color: #333333;
}

.guest {
    height: 100%;
    width: 40%;
    border: 2px solid #F2F2F2;
}

.guest > input {
    display: block;
    height: 100%;
    width: 100%;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #BDBDBD; 
    border: 0;
    padding-left: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    
}

.compenent {
    display: flex;
    flex-direction: column;
}

.stays {
    display: flex;
    justify-content: space-between;
}
.staysPlace {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
/* identical to box height */


    color: #333333;

}

.staysNumber  {
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #4F4F4F;
}


.bigImage {
    width: 100%;
    
}

.bigImage > img {
    width: 100%;
    height: auto;
    border-radius: 24px;

}

.details {
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    justify-content: space-between;
}
.containerHost {
    display: flex;
    
}